<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>lion</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}">
<!-- style css -->
<link rel="stylesheet" th:href="@{/user/css/style.css}">
<!-- Responsive-->
<link rel="stylesheet" th:href="@{user/css/responsive.css}">
<!-- fevicon -->
<link rel="icon" th:href="@{user/images/fevicon.png}" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet"
	th:href="@{user/css/jquery.mCustomScrollbar.min.css}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
	media="screen">
<link rel="stylesheet" type="text/css"
	th:href="@{/user/css/viewDetail.css}">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
	<!-- loader  -->


	<div class="wrapper">

		<!-- end loader -->
		<div class="sidebar">
			<!-- Sidebar  -->
			<nav id="sidebar">

				<div id="dismiss">
					<i class="fa fa-arrow-left"></i>
				</div>

				<ul class="list-unstyled components">

					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="#brand">Brands</a></li>
					<li><a href="#shoes">Shoes</a></li>
					<li><a href="#jewellery">Jewellery</a></li>
					<li><a href="#kids">Kids and Babies</a></li>
				</ul>

			</nav>
		</div>

		<div id="content">
			<!-- header -->
			<header>
				<!-- header inner -->
				<div class="head_top">
					<div class="header">

						<div class="container-fluid">

							<div class="row">
								<div class="col-lg-3 logo_section">
									<div class="full">
										<div class="center-desk">
											<div class="logo">
												<a href="index.html"><img
													th:src="@{/user/images/logo.png}" alt="#"></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="right_header_info">
										<ul>
											<li class="menu_iconb"><a href="#"><img
													style="margin-right: 15px;" th:src="@{/user/icon/1.png}"
													alt="#" />7213456789</a></li>
											<li class="menu_iconb"><a href="#">Log in <img
													style="margin-right: 15px;" th:src="@{/user/icon/5.png}"
													alt="#" />
											</a></li>
											<li class="menu_iconb"><a href="#">Signup<img
													style="margin-left: 15px;" th:src="@{/user/icon/6.png}"
													alt="#" /></a></li>
											<li class="tytyu"><a href="#"> <img
													style="margin-right: 15px;" th:src="@{/user/icon/2.png}"
													alt="#" /></a></li>
											<li class="menu_iconb"><a href="#"><img
													style="margin-right: 15px;" th:src="@{/user/icon/3.png}"
													alt="#" /></a></li>

											<li>
												<button type="button" id="sidebarCollapse">
													<img th:src="@{/user/images/menu_icon.png}" alt="#" />
												</button>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<main class="container" th:each="item : ${product}">

				<!-- Left Column / Headphones Image -->
				<div class="left-column" style="width: 40%">
					<img class="active" th:src="${item.image}" alt=""
						style="height: 700px">
				</div>


				<!-- Right Column -->
				<div class="right-column" style="width: 50%">

					<!-- Product Description -->
					<div class="product-description">
						<span>Product</span>
						<h1 th:text="${item.name}"></h1>
						<p th:text="${item.des}"></p>
					</div>

					<!-- Product Configuration -->
					<div class="product-configuration">





						<!-- Product Pricing -->
						<div class="product-price">
							<span th:text="${item.price}"></span> <a th:href="@{'/home/addCart/' + ${item.id}}"	
								class="cart-btn">Add to cart</a>
						</div>
					</div>
			</main>

			<footer>
				<div class="footer">
					
							<p>
								Copyright 2019 All Right Reserved By <a
									href="https://html.design/">Free html Templates</a>
							</p>
						
				</div>
			</footer>
</body>

</html>